@media only screen and (min-width: 700px) {
    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

   header{
    text-align: center;
   }


    .profile {
        display: grid;
        grid-template-rows: 0.5fr 0.5fr ;
        /*justify-content: center;*/
        padding: 1rem;
        background-color: rgb(244, 223, 241);
    }

    img {
        align-self: center;
        border-radius: 2rem;
        
    }

     
    
    
   
}